.fourth-block {
    margin-top: 2.6vw;
    height: 36.45vw;
    background-image: url(../../../public/images/bedoctor-section-bg3.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2.08vw;
    .container {
        margin: 0 auto;
        width: calc(100% - 20%);
    }
    .top-side {
        height: 18.22vw;
        h2 {
            padding-top: 3.65vw;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 2.6vw;
            font-weight: 700;
            letter-spacing: -0.05vw;
            color: white;
        }
        button {
            width: 10.4vw;
            height: 2.6vw;
            background-color: #2b6cf5;
            border-color: transparent;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 0.9vw;
            padding: 0.83vw 1.3vw 0.83vw 1.3vw;
            border-radius: 40px;
            line-height: 0.3vw;
            color: white;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background-color: #204289;
                transition: 0.5s;
                border-color: transparent;
            }
        }
    }

    .bottom-side {
        height: 18.22vw;
        display: flex;

        [class*='description'] {
            height: 10.41vw;
            width: 15.6vw;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 300;
            font-size: 1.04vw;
            color: white;
            margin-right: 5.2vw;
            p {
                font-size: 3.38vw;
                margin-top: 1.04vw;
                margin-bottom: 0.52vw;
                margin-left: -0.52vw;
            }
        }
    }
}
