.fifth-block {
    margin-top: 50px;
    height: 44.5vw;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .left-side {
        margin-right: 0.52vw;
        
        img{
            width: 38.6vw;
            border-radius: 2.083vw;
        }
    }

    .right-side {
        height: 43.9vw;
        border-radius: 2.083vw;
        width: 50%;
        margin-left: 0.52vw;
        background: rgb(155, 204, 255);
        background: linear-gradient(153deg, rgba(155, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 42%, rgba(161, 207, 255, 1) 100%);
        ;

        .top-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 60%;

            .logo {
                width: 5.72vw;
                height: 5.72vw;
                border-radius: 50%;
                background-color: white;
                background-image: url(../../../public/images/bedoctor-icon-pin.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            .title {
                font-family: 'Plus Jakarta Sans', sans-serif;
                color: #204289;
                font-size: 2.29vw;
                font-weight: 700;
                letter-spacing: -0.05vw;
                text-align: center;
            }
        }

        .bottom-side {
            height: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .text-fragment {
                width: 50%;
                font-family: 'Plus Jakarta Sans', sans-serif;
                color: #204289;
                font-size: 1.25vw;
                font-weight: 500;
                letter-spacing: -0.05vw;
                text-align: center;
            }

            button {
                max-width: 14.58vw;
                height: 3.12vw;
                background-color: #2B6CF5;
                border-color: #2B6CF5;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 0.88vw;
                padding: 0.83vw 1.3vw 0.83vw 1.3vw;
                border-radius: 40px;
                border-width: 1px;
                line-height: 0.78vw;
                color: white;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background-color: #204289;
                    border-color: #204289;
                    transition: 0.5s;
                }
            }
        }
    }
}