.second-block {
    margin-top: 50px;
    height: 700px;
    display: flex;
    justify-content: center;

    .container {
        width: calc(100% - 20%);
        display: flex;

        .left-side {
            width: 35%;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 100%;
            }
        }

        .right-side {
            width: calc(100% - 47.91%);
            margin-left: 190px;
            padding-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .icon {
                height: 90px;
                width: 90px;
                background-image: url(../../../public/images/bedoctor-icon1.svg);
                background-repeat: no-repeat;
            }

            .title {
                font-size: 1.34vw;
                color: #204289;
                font-family: 'Plus Jakarta Sans', sans-serif;
            }

            .signature {
                color: #204289;
                font-size: 1.18vw;
                letter-spacing: -1px;
                line-height: 28px;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-weight: 300;
                margin-left: 80%;
                margin-top: 100px;
            }
        }
    }
}
