.faq {
    min-height: 52.08vw;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;
        padding: 2.6vw 0;
        border-radius: 2.08vw;
        background: rgb(240, 249, 255);
        background: linear-gradient(
            126deg,
            rgba(240, 249, 255, 1) 100%,
            rgba(252, 234, 216, 1) 100%
        );
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #204289;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title-wrapper {
        margin-top: 3.12vw;
    }
    h2 {
        font-weight: 700;
        font-size: 2.6vw;
        margin-top: 1.3vw;
    }
    .ask-wrapper {
        width: 46.8vw;
        margin: 0.52vw 0;
        font-size: 1.04vw;
    }
    .question {
        background-color: white;
        border-radius: 2.08vw;
        padding: 1.25vw 0.72vw 1.25vw 3.12vw;
        position: relative;

        .fa {
            position: absolute;
            left: 0.78vw;
            top: 1.3vw;
            font-size: 1.56vw;
        }
    }
    .answer {
        background-color: white;
        border-radius: 2.08vw;
        padding: 1.25vw 0.72vw 1.25vw 0.52vw;
        margin-bottom: 2.6vw;
        
    }
}
