.faq {
    min-height: 1000px;
    // background-color: #204289;
    display: flex;
    justify-content: center;
    // align-items: center;

    .container {
        // margin: 0 auto;
        // height: 100%;
        width: 80%;
        padding: 50px 0;
        // border: 1px solid black;
        border-radius: 40px;
        background: rgb(240, 249, 255);
        background: linear-gradient(
            126deg,
            rgba(240, 249, 255, 1) 100%,
            rgba(252, 234, 216, 1) 100%
        );
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #204289;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title-wrapper {
        margin-top: 60px;
        // border: 1px solid black;

    }
    h2 {
        font-weight: 700;
        font-size: 50px;
        margin-top: 25px;
    }
    .ask-wrapper {
        // border: 1px solid black;
        // background-color: white;
        width: 900px;
        margin: 10px 0;
        font-size: 20px;
    }
    .question {
        // border: 1px solid black;
        background-color: white;
        border-radius: 40px;
        padding: 24px 14px 24px 60px;
        position: relative;

        .fa {
            position: absolute;
            left: 15px;
            top: 25px;
            font-size: 30px;
        }
    }
    .answer {
        // border: 1px solid black;
        // border-top:1px solid #204289;
        background-color: white;
        border-radius: 40px;
        padding: 24px 14px 24px 10px;
        display: none;
        margin-bottom: 50px;
    }
    .show{
        display: block;
        // overflow: hidden;
    }
}
