.third-block {
    margin-top: 50px;
    border-radius: 40px;
    background: rgb(155, 204, 255);
    background: linear-gradient(
        139deg,
        rgba(155, 204, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(161, 207, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
    }

    .container {
        width: calc(100% - 20%);
        display: flex;
        flex-direction: column;

        .text-fragment {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Plus Jakarta Sans', sans-serif;

            h6 {
                color: #2b6cf5;
                font-size: 0.75vw;
                line-height: 0.9vw;
                font-weight: 700;
                letter-spacing: 0px;
            }

            h2 {
                color: #204289;
                font-size: 2.6vw;
                line-height: 3vw;
                font-weight: 700;
                letter-spacing: -2px;
                margin-top: -20px;
            }

            p {
                font-size: 0.82vw;
                color: #204289;
                text-align: center;
            }
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-slider {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;

            .slick-prev {
                width: 100px;
                height: 250px;
                left: -70px;
                z-index: 10;
            }
            .slick-next {
                width: 100px;
                height: 250px;
                right: -70px;
                z-index: 10;
            }

            .slick-slide {
                display: flex;
                justify-content: center;
            }
        }
    }
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 40px;
        transition: 1s;

        &:hover {
            box-shadow: 0px 0px 15px #2b6cf5;
            transition: 0.5s;
        }

        &:hover button {
            box-shadow: 0px 0px 5px #2b6cf5;
            transition: 0.5s;
        }

        .card-top {
            img {
                width: 20vw;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
            }
        }

        .card-bottom {
            width: 20vw;
            height: 13vw;
            background-color: white;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Plus Jakarta Sans', sans-serif;
            transition: 0.5s;

            h3 {
                margin: 0px 10px 0px 10px;
                padding-top: 2.5vw;
                color: #204289;
                font-size: 1.4vw;
                font-weight: 700;
                letter-spacing: -1px;
            }

            button {
                margin-top: 2vw;
                height: 3vw;
                background-color: white;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 1vw;
                padding: 0vw 1.5vw;
                border-radius: 38px;
                line-height: 1.3vw;
                color: #2b6cf5;
                border: 1px solid lightgray;
                transition: 0.5s;
                cursor: pointer;

                span {
                    text-transform: capitalize;
                    font-weight: 700;
                }
                &:hover {
                    border: 1px solid #2b6cf5;
                    transition: 0.5s;
                }
            }
        }
    }
}
