.reviews-wrap {
    margin-top: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: rgb(255, 231, 214);
    background: linear-gradient(
        28deg,
        rgba(255, 231, 214, 1) 0%,
        rgba(255, 255, 255, 1) 38%,
        rgba(114, 183, 255, 1) 100%
    );
    border-radius: 40px;
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0px 50px 0px;
    }
    h3 {
        font-size: 2.5vw;
        color: #2b6cf5;
    }
    .review {
        margin-top: 10px;
        padding: 20px;
        border-radius: 40px;
        background-color: white;
        div:nth-child(1) {
            color: #2b6cf5;
            font-size: 1.4vw;
        }
        h6 {
            margin-top: 10px;
            font-size: 0.7vw;
            color: #2b6cf5;
        }
        div:nth-child(3) {
            color: #204289;
            font-size: 1vw;
        }
    }
    .review-name{
        text-transform: capitalize;
    }
    form{
        margin: 0 auto;
        width: 35%;
        height: 20vw;
        margin-top: 40px;
        background-color: white;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;

    }

    input,
    textarea {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;
        color: #2b6cf5;
        margin-top: 15px;
        margin-left: 20px;
        height: 35px;
        width: 90%;
        border-radius: 40px;
        padding-left: 20px;
        display: block;
        border: 1px solid rgb(232, 232, 232);
    }
    textarea {
        height: 55px;
        
    }
    button {
        width: 28%;
        position: absolute;
        bottom: 30px;
        right: 10px;
        background-color: #2b6cf5;
        border-color: #2b6cf5;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 17px;
        padding: 8px 8px 8px 8px;
        border-radius: 40px;
        border-width: 1px;

        color: white;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            background-color: #204289;
            border-color: #204289;
            transition: 0.5s;
        }
    }
}
