.phone-with-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            width: auto;
            color: #204289;
            font-family: 'Plus Jakarta Sans', sans-serif;
            // font-size: 1.1vw;
            padding-right: 10px;
            position: relative;
            img {
                position: absolute;
                left: -1vw;
                width: 0.8vw;
            }
            &:hover{
                color: #2b6cf5;
            }
        }
        
        }
    