.like-counter{
    position: absolute;
    right: 25%;
}

.fa-heart {
    font-size: 20px;
    color: red;
    span {
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #204289;
    }
}
