.like-counter{
    position: absolute;
    right: 25vw;

}

.fa-heart {
    font-size: 1.1vw;
    color: red;
    span {
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #204289;
    }
}
