#about-second {
    margin-top: 150px;
    height: 700px;
    display: flex;
    justify-content: center;
    .container {
        width: 80%;
        display: flex;
    }
    .left-side {
        width: 60%;
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            margin: 2%;
        }
        h3 {
            margin-top: 0;
            color: #204289;
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -1px;
        }
        .list {
            display: flex;
            justify-content: center;
            ul {
                column-count: 2;
                padding-left: 10px;
            }
            li {
                padding-top: 20px;
                font-size: 18px;
                color: #204289;
            }
            
        }
        button{
                margin-top: 50px;
                background-color: #2b6cf5;
                border-color: #2b6cf5;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 17px;
                padding: 16px 25px 16px 25px;
                border-radius: 40px;
                border-width: 1px;
                line-height: 15px;
                color: white;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background-color: #204289;
                    border-color: #204289;
                    transition: 0.5s;
                }
        }
    }
    .right-side {
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            max-width: 600px;
        }
    }
}
