#about-second {
    margin-top: 7.81vw;
    height: 36.45vw;
    display: flex;
    justify-content: center;
    .container {
        width: 80%;
        display: flex;
    }
    .left-side {
        width: 60%;
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            margin: 2%;
        }
        h3 {
            margin-top: 0;
            color: #204289;
            font-size: 2.08vw;
            font-weight: 700;
            letter-spacing: -1px;
        }
        .list {
            display: flex;
            justify-content: center;
            ul {
                column-count: 2;
                padding-left: 0.52vw;
            }
            li {
                padding-top: 1.04vw;
                font-size: 0.9vw;
                color: #204289;
            }
            
        }
        button{
                margin-top: 2.6vw;
                background-color: #2b6cf5;
                border-color: #2b6cf5;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 0.89vw;
                padding: 0.83vw 1.3vw 0.83vw 1.3vw;
                border-radius: 40px;
                border-width: 1px;
                line-height: 0.78vw;
                color: white;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background-color: #204289;
                    border-color: #204289;
                    transition: 0.5s;
                }
        }
    }
    .right-side {
        position: relative;
        img {
            position: absolute;
            bottom: 0;
            width: 31.25vw;
        }
    }
}
