.first-block {
    height: 60vw;
    margin-top: -90px;
    background: rgb(255, 231, 214);
    background: linear-gradient(
        28deg,
        rgba(255, 231, 214, 1) 0%,
        rgba(255, 255, 255, 1) 38%,
        rgba(114, 183, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    border-radius: 40px;

    .container {
        width: 80%;
        display: flex;
    }
    .left-side {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2vw;
        line-height: 110px;
        font-weight: 700;
        letter-spacing: -3px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #204289;

        .left-side-text {
            margin-top: -100px;
        }

        h6 {
            color: #2b6cf5;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            letter-spacing: 0px;
        }

        h1 {
            padding-left: 3px;
            margin-top: -30px;
        }

        span {
            color: #2b6cf5;
        }

        .btns-block {
            padding-left: 3px;

            .blue-btn {
                height: 60px;
                background-color: #2b6cf5;
                border-color: #2b6cf5;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 17px;
                padding: 16px 25px 16px 25px;
                border-radius: 38px;
                border-width: 1px;
                line-height: 15px;
                color: white;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background-color: #204289;
                    border-color: #204289;
                    transition: 0.5s;
                }
                a {
                    text-decoration: none;
                }
            }

            .white-btn {
                height: 60px;
                margin-left: 30px;
                background-color: white;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 17px;
                padding: 16px 25px 16px 25px;
                border-radius: 38px;
                line-height: 15px;
                color: #2b6cf5;
                border: 1px solid lightgray;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    border: 1px solid #2b6cf5;
                    transition: 0.5s;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .right-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        img {
            width: 40vw;
            animation: 0.8s ease-out 0s 1 slideInFromLeft;
            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(100%);
                    opacity: 0;
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .first-block {
        height: 850px;

        .left-side-text {
            margin: 0;
            line-height: 80px;
            h1 {
                font-size: 50px;
            }
            .btns-block {
                .blue-btn {
                    width: 150px;
                    height: 40px;
                    font-size: 10px;
                    padding: 0;
                }
                .white-btn {
                    width: 150px;
                    height: 40px;
                    font-size: 10px;
                    padding: 0;
                }
            }
        }
        .right-side {
            background-position: center;
        }
    }
}
