.third-block{
    height: 1500px;
    margin-top: 50px;
    border-radius: 40px;
    background: rgb(155, 204, 255);
        background: linear-gradient(153deg, rgba(155, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 42%, rgba(161, 207, 255, 1) 100%);;
}