.contact-form {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border-radius: 2.08vw;
    .container-form {
        margin: 9%;
    }
    .title-wrapper {
        font-family: 'Plus Jakarta Sans', sans-serif;
        h6 {
            color: #2b6cf5;
            font-size: 0.72vw;
            line-height: 1.04vw;
            font-weight: 700;
            letter-spacing: 0px;
            text-transform: uppercase;
            margin-bottom: 0.52vw;
        }
        h3 {
            color: #204289;
            font-size: 1.56vw;
            line-height: 2.39vw;
            font-weight: 700;
            letter-spacing: -0.05vw;
            span {
                color: #2b6cf5;
            }
        }
    }
    .form-wrapper {
        form {
            input,
            textarea {
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 0.83vw;
                color: #2b6cf5;
                margin-top: 0.78vw;
                height: 1.82vw;
                width: 100%;
                padding-left: 0.36vw;
                display: block;
                border: 1px solid rgb(232, 232, 232);
            }
            textarea {
                height: 2.86vw;
            }
        }
    }
    button {
        margin-top: 2.6vw;
        background-color: #2b6cf5;
        border-color: #2b6cf5;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 0.88vw;
        padding: 0.83vw 1.3vw 0.83vw 1.3vw;
        border-radius: 2.08vw;
        border-width: 0.05vw;
        line-height: 0.78vw;
        color: white;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            background-color: #204289;
            border-color: #204289;
            transition: 0.5s;
        }
    }
}
