.price-cards {
    display: flex;
    justify-content: space-between;
    height: 31.25vw;
    margin-bottom: 4.16vw;
    margin-top: 4.16vw;
    [class*='card'] {
        background-color: white;
        width: 23.5vw;
        border-radius: 2.08vw;
        color: #204289;
        font-family: 'Plus Jakarta Sans', sans-serif;
        height: 31.25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        button {
            width: 7.81vw;
            height: 2.6vw;
            background-color: #2b6cf5;
            border-color: #2b6cf5;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 0.9vw;
            padding: 0.83vw 1.3vw 0.83vw 1.3vw;
            border-radius: 40px;
            line-height: 0.8vw;
            border: none;
            line-height: 15px;
            color: white;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background-color: #204289;
                border: 1px solid;
                border-color: #204289;
                transition: 0.5s;
            }
        }
        .top-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo {
                width: 4.68vw;
                height: 4.16vw;
                background-repeat: no-repeat;
                background-position: center;
            }
            .price {
                font-size: 1.82vw;
                margin-top: 1.82vw;
                span {
                    font-size: 2.6vw;
                }
            }
        }
        .bottom-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            .description {
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-size: 1vw;
                }
                p:nth-child(2) {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    margin: 0;
                    padding: 0.83vw 0;
                    width: 120%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .card1 {
        .logo {
            background-image: url(../../../public/images/bedoctor-pricing-icon1.svg);
        }
    }
    .card2 {
        .logo {
            background-image: url(../../../public/images/bedoctor-pricing-icon2.svg);
        }
    }
    .card3 {
        background-color: #2b6cf5;
        color: white;
        .logo {
            background-image: url(../../../public/images/bedoctor-pricing-icon3.svg);
        }
        button {
            width: 7.81vw;
            height: 2.6vw;
            background-color: white;
            color: #2b6cf5;
            border-color: #2b6cf5;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 0.9vw;
            padding: 0.83vw 1.3vw 0.83vw 1.3vw;
            border-radius: 40px;
            line-height: 0.8vw;
            margin-top: 1.3vw;
            border: none;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #2b6cf5;
                border-color: white;
                transition: 0.5s;
                border: 1px solid white;
            }
        }
    }
}
