.contact-top {
    margin-top: -4.68vw;
    border-radius: 2.08vw;
    height: 57.3vw;
    justify-content: center;
    background: rgb(252, 234, 216);
    background: linear-gradient(
        126deg,
        rgba(252, 234, 216, 1) 0%,
        rgba(219, 241, 255, 1) 52%,
        rgba(252, 234, 216, 1) 100%
    );
    .container {
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
    .title-wrapper {
        h1 {
            font-size: 3.38vw;
            color: #204289;
        }
    }
    .sides-wrapper {
        height: 34.37vw;
        display: flex;
        justify-content: space-between;
    }
    .left-side {
        width: 30%;
        margin: 4%;
        .top-side {
            a{
                text-decoration: none;
            }
            h6 {
                color: #2b6cf5;
                font-size: 0.72vw;
                line-height: 1.04vw;
                font-weight: 700;
                letter-spacing: 0px;
                text-transform: uppercase;
                margin-bottom: 0.52vw;
            }
            h4 {
                font-size: 1.45vw;
                font-weight: 700;
                letter-spacing: 0px;
                color: #204289;
                margin-top: 0;
                &:hover{
                    color: #2b6cf5;
                }
            }
            p {
                font-size: 0.83vw;
                font-weight: 300;
                letter-spacing: 0px;
                color: #204289;
            }
        }
        .bottom-side {
            margin-top: 2.6;
            margin-left: 6%;
            font-weight: 700;
            a {
                font-size: 1.45vw;
                text-decoration: none;
                img {
                    width: 1.04vw;
                    left: -1.66vw;
                    top: 0.36vw;
                }
            }
            .mail-with-icon{
                margin-top: 1.04vw;
                img{
                    width: 1.56vw;
                    left: -1.82vw;
                    top: 0.26vw;
                }
            }
        }
    }
    .right-side {
        width: 50%;
        display: flex;
    }
}
