header{
    position: sticky;
    top: 0;
    transition: 0.5s;
}
.header-sticky {
    height: 100px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9;
    // border: 1px solid black;
    transition: 0.5s;

    .menu {
        border: 1px solid rgba(226, 226, 226, 0.612);
    }
}

.header-container {
    max-width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    // .logo {}

    .menu {
        width: 50%;
        height: 50px;
        display: flex;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 40px;

        a {
            display: flex;
            justify-content: center;
        }

        .menu-item {
            color: #204289;
            &:hover {
                color: white;
                background-color: #2b6cf5;
                border-radius: 20px;
                height: 50px;
                align-items: center;
            }
        }

        .menu-item-active {
            color: white;
            background-color: #2b6cf5;
            border-radius: 20px;
            height: 50px;
            align-items: center;
        }
    }

    a {
        width: 210px;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
