.card-container {
    margin-top: 1.56vw;

    .card {
        height: 31.25vw;
        width: 100%;
        display: flex;
        .left-side {
            width: 49%;
            border-radius: 2.08vw;
            margin-right: 0.78vw;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            .left-side-container {
                width: 80%;
                height: 80%;
                justify-content: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                h3 {
                    color: #204289;
                    font-size: 1.97vw;
                    line-height: 2.4vw;
                    font-weight: 700;
                    letter-spacing: -0.05vw;
                }
                ul {
                    width: 70%;
                    margin: 0;
                    padding-left: 2.08vw;
                }
                li {
                    color: #204289;
                    font-size: 1.04vw;
                    font-weight: 300;
                    margin-top: 1.04vw;
                }
                hr {
                    margin-top: 5%;
                }
                .buttons-block {
                    height: 30%;
                    display: flex;
                    align-items: center;
                    button {
                        background-color: #2b6cf5;
                        border-color: #2b6cf5;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                        font-size: 0.9vw;
                        padding: 0.83vw 1.3vw 0.83vw 1.3vw;
                        border-radius: 40px;
                        line-height: 0.8vw;
                        border-width: 1px;
                        color: white;
                        transition: 0.5s;
                        cursor: pointer;

                        &:hover {
                            background-color: #204289;
                            border-color: #204289;
                            transition: 0.5s;
                        }
                    }
                    span {
                        margin-left: 5%;
                        color: #204289;
                        a {
                            text-decoration: none;

                            color: #2b6cf5;
                        }
                    }
                }
            }
        }
    }
    .right-side {
        width: 49%;
        border-radius: 2.08vw;
        margin-left: 0.78;
        img {
            width: 100%;
            height: 100%;
            border-radius: 2.08vw;
        }
    }
}
div[id='dental department'] .card,
#pediatrics .card,
div[id='ear treatment'] .card {
    display: flex;
    flex-direction: row-reverse;
    .left-side {
        margin-right: 0;
        margin-left: 0.78vw;
    }
    .right-side {
        margin-right: 0.78vw;
        margin-left: 0;
    }
}
